p {
    padding-left: 20px;
    padding-right: 20px;
}
html{
    height: 100%;
    margin: 0px;
}
body {
    height: 100%;
    margin: 0px;
    overflow: hidden;
}

button {
    -webkit-app-region: no-drag;
    border: 0;
    background: none;
    text-transform: uppercase;
    color: ivory;
    font-weight: bold;
    position: relative;
    outline: none;
    padding: 10px 20px;
    box-sizing: border-box;
}

button::before,
button::after {
    box-sizing: inherit;
    position: absolute;
    content: '';
    border: 2px solid transparent;
    width: 0;
    height: 0;
}

button::after {
    bottom: 0;
    right: 0;
}

button::before {
    top: 0;
    left: 0;
}

button:hover::before,
button:hover::after {
    width: 100%;
    height: 100%;
}

button:hover::before {
    border-top-color: ivory;
    border-right-color: ivory;
    transition: width 0.3s ease-out, height 0.3s ease-out 0.3s;
}

button:hover::after {
    border-bottom-color: ivory;
    border-left-color: ivory;
    transition: border-color 0s ease-out 0.6s, width 0.3s ease-out 0.6s, height 0.3s ease-out 1s;
}

.titlebar {
    -webkit-user-select: none;
    -webkit-app-region: drag;
}

.titleline{
    font-size: 28px;
    padding: 20px 20px;
}

.title-style {
    font-weight: 700;
    font-family: 微软雅黑体;
    color: ivory;
}

.hitokoto-text {
    font-size: 26px;
    display: flex;
    flex-shrink: 1;
    font-family: 华文楷体;
    color: ivory;
}

.hitokoto-from {
    font-size: 18px;
    display: flex;
    justify-content: flex-end;
    flex-shrink: 1;
    color:darkgray;
}

#setting {
    display: block;
    float: right;
}

#app{
    margin: 2px;
    -webkit-app-region: drag;
}